<div class="col-sm-<%= width %> col-md-<%= width %>">
  <div class="checkbox form-fit">
    <label>
      <ul class="list-inline">
        <li class="input-checkbox"><%= form.input name, label: false %></li>
        <li><%= caption %></li>
      </ul>
    </label>
  </div>
</div>
