<div class="form-group col-sm-<%= width %> col-md-<%= width %>">
  <label><%= caption %></label>
  <%= form.input name, as: :ckeditor, label: false, input_html: { ckeditor: { toolbar: 'maximize' } } %>
</div>
