<div class="form-group col-sm-<%= width %> col-md-<%= width %>">
  <label><%= caption %></label>
  <%= form.input name, label:false, start_year: (Date.today.year - 100), end_year: (Date.today.year + 100) %>
</div>
