<div class="form-group col-sm-<%= width %> col-md-<%= width %>">
  <label><%= caption %></label>
  <%= form.input name, input_html: {class: 'datepicker'}, label:false, as: 'string', html5: true %>
</div>
