<div class="form-group col-sm-<%= width %> col-md-<%= width %>">
  <label><%= caption %></label>
  <%= form.input name, input_html: {type: 'number'}, html5: true, label:false, placeholder: 'Rp 0000,-' %>
</div>
