<div class="form-group col-sm-<%= width %> col-md-<%= width %>">
  <label><%= caption %></label>
  <%= search_field_tag name, search, class: 'form-control form-text-center datepicker', placeholder: placeholder, label:false, as: 'string', html5: true %>
</div>
