<nav class="navbar navbar-footer">
  <div class="container-fluid navbar-flex-center navbar-main-menu">
    <ul class="list-inline text-center navbar-menu">
      <li><%= link_to "News App", latest_news_path %></li>
    </ul>
  </div>
</nav>
