<% @videos = videos if defined? videos %>
<% if !@videos.nil? %>
<% if @search %>
<% if !@videos.empty? %>
<h3 class="section-heading">By Videos</h3>
<% end %>
<div class="row">
  <% @videos.each do |video| %>
      <%
        video_new = VideoInfo.new(video.url)
      %>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel article-panel articel-at-list">
          <div class="panel-body">
            <a href="<%= open_video video %>">
              <div class="row">
                <div class="col-sm-12 col-xs-5">
                  <div class="article-head-image-bigger" style="background-image:    url(<%= video_new.thumbnail_medium || video.image %>);"></div>
                </div>
                <div class="col-sm-12 col-xs-7 article-head-container">
                  <div class="caption">
                    <a href="#"><h3 class="thumbnail-head"><%= video.title %></h3></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    <% end %>
</div>
<% if action_name == 'videos' %>
<div class="text-center">
  <%= will_paginate @videos, inner_window: 1, outer_window: 1 %>
</div>
<% end %>
<% end %>
