<div class="section-container">
  <div class="row">
    <div class="col-sm-6">
      <div class="about-container">
        <b>Daftar Tim</b>
        <ul>
          <li>
            Hasannudin Djamil
          </li>
          <li>
            Alvian Rahman Hanif
          </li>
          <li>
            Prili
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="about-container">
        <b>Contact Us</b>
        <br/>
        Phone : 000-000-000
        <br/>
        Email : inspivasi@email.com
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="about-container" style="margin-top: 20px;">
        <b>Apa itu Inspivasi ?</b>
      </div>
    </div>
  </div>
</div>
