<div class="section-container">
  <div class="row">
    <div class="col-sm-6">
      <div class="about-container">
        Daftar Tim
      </div>
    </div>
    <div class="col-sm-6">
      <div class="about-container">
        <b>Contact Us</b>
        <br/>
        Phone : 000-000-000
        <br/>
        Email : inspivasi@email.com
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="about-container">
        Deskripsi Inspivasi
      </div>
    </div>
  </div>
</div>
