<div class="section-container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="about-container">
        <p class="kontribusi-header text-center">
          <span>Tertarik Untuk Mengirimkan Artikelmu?</span>
          <br/>
          <br/>
          Ayo, Kirimkan Artikelmu ke Redaksi Inspivasi!
        </p>
        <div class="row">
          <div class="col-sm-6">
            <p class="kontribusi-content text-center">
              <b>Jika kamu tertarik, kriteria-kriteria artikel yang dapat disubmit adalah:</b>
              <div class="row">
                <div class="col-xs-12">
                  <ul>
                    <li>
                      Konten ringan yang kiranya akan memberikan orang inspirasi dengan latar belakang serupa denganmu.
                    </li>
                    <li>
                      Artikel opini tentang kejadian terkini di masyarakat, atau isu-isu sosial yang selalu penting untuk dibahas.
                    </li>
                    <li>Catatan perjalanan ke tempat-tempat yang menarik untuk dibagikan.</li>
                    <li>
                      Kisah-kisah unik dan sukses dari tokoh atau masyarakat di daerah tempat tinggalmu (yang akan menarik untuk kita ketahui).
                    </li>
                    <li>
                      Pelajaran hidup pribadi yang menginspirasi.
                    </li>
                    <li>
                      Tips-tips menarik dan bermanfaat bagi para pembaca.
                    </li>
                  </ul>
                </div>
              </div>
            </p>
          </div>
          <div class="col-sm-6">
            <p class="kontribusi-content text-center">
              <b>Bagaimana cara membuat artikel di Inspivasi?</b>
              <div class="row">
                <div class="col-xs-12">
                  <ul>
                    <li>
                      Sebelum dapat menulis artikel, kamu harus log in terlebih dahulu pada halaman Log In.
                    </li>
                    <li>
                      Masukkan email berserta password pada kolom yang disediakan. Jika belum memiliki akun, kamu harus buat akun terlebih dahulu dengan klik "Sign Up".
                    </li>
                    <li>Setelah masuk halaman profil, pilih menu "Articles" di menubar.</li>
                    <li>
                      Klik "New Article" untuk membuat artikel.
                    </li>
                    <li>
                      Setelah artikel sudah selesai ditulis, klik "Create Article".
                    </li>
                  </ul>
                </div>
              </div>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p class="kontribusi-content text-center">
              <b>Sebelum membuat artikel, pastikan bahwa naskah artikelmu:</b>
              <div class="row">
                <div class="col-xs-12">
                  <ul>
                    <li>
                      Naskah tidak bersifat komersial atau promosional.
                    </li>
                    <li>
                      Konten naskah bersifat orisinal dan tidak pernah dipublikasikan sebelumnya di media yang lain.
                    </li>
                    <li>Penulisan artikel sebisa mungkin dalam bentuk final, seperti bebas dari kesalahan eja dan lain-lain, karena redaksi tidak merevisi artikel yang kamu tulis.</li>
                  </ul>
                </div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
