
.multi-item-carousel{
  @media (max-width: 767px) {
  	.carousel-inner .active.left { left: -100%; }
  	.carousel-inner .next        { left:  100%; }
  	.carousel-inner .prev		 { left: -100%; }
  	.active > div { display:none; }
  	.active > div:first-child { display:block; }

  }
  @media (min-width: 767px) and (max-width: 992px ) {
  	.carousel-inner .active.left { left: -50%; }
  	.carousel-inner .next        { left:  50%; }
  	.carousel-inner .prev		 { left: -50%; }
  	.active > div { display:none; }
  	.active > div:first-child { display:block; }
  	.active > div:first-child + div { display:block; }
  }
  @media (min-width: 992px ) {
  	.carousel-inner .active.left { left: -25%; }
  	.carousel-inner .next        { left:  25%; }
  	.carousel-inner .prev		 { left: -25%; }
  }
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
				opacity: .0;
        @media(max-width: 768px){
          left:-100% !important;
        }
        @media(max-width: 1000px){
          left:-50%;
        }
        @media(min-width: 1000px){
          left:-33%;
        }
      }
      &.right{
				opacity: .0;
        @media(max-width: 768px){
          left:100% !important;
        }
        @media(max-width: 1000px){
          left:50%;
        }
        @media(min-width: 1000px){
          left:33%;
        }
      }
    }
    .next{
      @media(max-width: 768px){
        left:100% !important;
      }
      @media(max-width: 1000px){
        left:50%;
      }
      @media(min-width: 1000px){
        left:33%;
      }
    }
    .prev{
      @media(max-width: 768px){
        left:-100% !important;
      }
      @media(max-width: 1000px){
        left:-50%;
      }
      @media(min-width: 1000px){
        left:-33%;
      }
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
	.carousel-control 			 { width:  4%; }
	.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
  // .carouse-control{
  //   &.left, &.right{
  //     background-image: none;
  //   }
  // }

  .carousel-control.right{
    margin-right: 20px;
  }
}
