.article-panel{
  box-shadow: $default-shadow;
  border: 0px;
  border-radius: $border-radius;
  background-color: $secondary;
  .panel-body{
    padding: 0px;
  }
  transition: all 600ms;
}

.article-out-header{
  margin-bottom: 20px;
}

.article-tag{
  padding-left: 15px;
  padding-right: 15px;
  ul li {
    // font-size: 3vw;
    // @media(min-width: 768px){
    //   font-size: 2vw;
    // }
    // @media(min-width: 768px){
    //   font-size: 18px;
    // }
    font-size: 16px;
    color: shade($accent, 30%);
  }
  ul li .tag{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: $default-shadow;
    background-color: $fourtrary;
    color: $secondary;
    border-radius: $border-radius;
  }
}

.article-title{
  font-size: 4vw;
  @media(min-width: 768px){
    font-size: 2vw;
  }
  @media(min-width: 768px){
    font-size: 20px;
  }
  font-weight: 700;
  color: shade($accent, 55%);
  margin-top: 10px;
}

.article-category{
  font-size: 3vw;
  @media(min-width: 768px){
    font-size: 2vw;
  }
  @media(min-width: 768px){
    font-size: 18px;
  }
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: $default-shadow;
  background-color: $trinary;
  color: $secondary;
  border-radius: $border-radius;
}

.articel-at-list{
  // &:hover{
  //   cursor: pointer;
  //   background-color: shade($primary, 5%);
  //   .caption a{
  //     text-decoration: none;
  //   }
  //   .thumbnail-head, .thumbnail-text, .article-date-text{
  //     color: $secondary;
  //     p{
  //       color: $secondary;
  //     }
  //   }
  //   .article-date-container{
  //     background-color: shade($primary, 5%);
  //   }
  // }
  &:hover{
    .thumbnail-head{
      cursor: pointer;
      color: $primary;
    }
  }
}


.article-head-image{
  height: 140px;
  width: 100%;
  background-color: $background-default;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  @media(max-width: 768px){
    height: 22vw;
  }
}

.article-head-image-mobile{
  @media(max-width: 768px){
    height: 200px !important;
  }
}

.article-head-image-bigger{
  height: 190px;
  width: 100%;
  background-color: $background-default;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  @media(max-width: 768px){
    height: 22vw;
  }
}


$font-size-head: 15px;
$line-height-head: 1.4;
$lines-to-show-head: 2;


$font-size-text: 12px;
$line-height-text: 1.3;
$lines-to-show-text: 3;

$font-size-head-mobile: 4vw;
$line-height-head-mobile: 1.4;
$lines-to-show-head-mobile: 3;

$font-size-text-mobile: 4vw;
$line-height-text-mobile: 1.4;
$lines-to-show-text-mobile: 3;

.thumbnail-head{
  width: 100%;
  left: 0px;
  display: block; /* Fallback for non-webkit */
  height: $font-size-head*$line-height-head*$lines-to-show-head; /* Fallback for non-webkit */
  font-size: $font-size-head;
  line-height: $line-height-head;
  -webkit-line-clamp: $lines-to-show-head;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px;
  padding-top: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 300ms;
  p{
    transition: all 300ms;
  }
  @media(min-width: 768px){
    // display: -webkit-box;
  }
  @media(max-width: 768px){
    padding-top: 20px;
    padding-bottom: 20px;
    text-overflow: inherit;
    font-size: $font-size-head-mobile - .8vw;
    height: $font-size-head-mobile*$line-height-head-mobile*$lines-to-show-head-mobile;
    margin-left: 30px;
    padding-right: 40px;
  }
  @media(max-width: 500px){
    font-size: $font-size-head-mobile;
    padding-top: .7vw;
    padding-bottom: 1vw;
  }
}

.article-head-container{
  @media(max-width: 768px){
    padding: 0px;
    padding-right: 15px;
    .thumbnail-head{
      padding-left: 0px;
    }
  }
}

.thumbnail-text{
  width: 100%;
  left: 0px;
  display: block; /* Fallback for non-webkit */
  height: $font-size-text*$line-height-text*$lines-to-show-text; /* Fallback for non-webkit */
  font-size: $font-size-text;
  line-height: $line-height-text;
  -webkit-line-clamp: $lines-to-show-text;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px;
  padding-top: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 300ms;
  p{
    transition: all 300ms;
    color: shade($accent, 50%);
  }
  @media(min-width: 768px){
    // display: -webkit-box;
  }
  @media(max-width: 768px){
    padding-top: 20px;
    padding-bottom: 20px;
    text-overflow: inherit;
    font-size: $font-size-text-mobile - .8vw;
    height: $font-size-text-mobile*$line-height-text-mobile*$lines-to-show-text-mobile;
    margin-left: 15px;
    padding-right: 40px;
  }
  @media(max-width: 500px){
    font-size: $font-size-text-mobile;
    padding-top: .7vw;
    padding-bottom: 1vw;
  }
}

.article-badge-container{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
}

.article-badge{
  font-size: 14px;
  transform: translateY(-30px);
  margin-left: 15px;
  background-color: $trinary;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: $secondary;
  border-radius: $border-radius;
  box-shadow: $default-shadow-invert;
}

.article-author-badge{
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background-color: $secondary;
  display: flex;
  align-self: flex-start;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.article-author-icon{
  height: 20px;
  width: 20px;
  margin: 4px;
  border-radius: 20px;
  background-color: $background-default;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.article-author-text{
  font-size: 14px;
  color: shade($accent, 40%);
  transform: translateY(4px);
  padding-left: 10px;
}

.article-date-container{
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  margin-left: auto;
  transform: translateY(-34px);
  background-color: $secondary;
  transition: all 600ms;
  border-top-left-radius: $border-radius;
}

.article-date-text{
  font-size: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: shade($accent, 30%);
  transition: all 300ms;
}

.article-content{
  padding: 0px;
  border: 0px;
}

.img-big{
  width: 100%;
  height: 350px;
}
.img-main{
  @extend .img-big;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size:     cover !important;
  background-color: $background-default !important;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.img-dimmed{
  @extend .img-big;
  background: linear-gradient(to top, $secondary, rgba($secondary, .0));
  height: 30%;
}

.img-main-no-dimmed{
  @extend .img-big;
  border-radius: $border-radius;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size:     cover !important;
  background-color: $background-default !important;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.article-paragraph{
  padding: 15px;
  font-size: 16px;
  color: $accent;
  text-align: justify;
  img{
    width: 100%;
    height: 200px;
    text-align: center;
  }
}

.article-heading{
  padding: 15px;
  padding-bottom: 0px;
}

.article-heading-items{
  font-size: 14px;
  color: shade($accent, 30%);
  font-weight: 200;
}

.article-author{
  @extend .article-heading-items;
}

.article-date{
  @extend .article-heading-items;
  text-align: right;
}

.article-shared{
  padding: 15px;
  font-size: 16px;
  color: shade($accent, 30%);
  .share{
    display: inline;
    a{
      &:after{
        content: ', ';
      }
    }
    a:last-child{
      &:after{
        content: '';
      }
    }
  }
}

.article-comment{
  padding: 15px !important;
}
