p,h1,h2,h3,h4,h5,h6,label{
  color: shade($accent, 60%);
}

a{
  color: tint($primary, 30%);
  transition: all 300ms;
  &:hover,&:focus{
    text-decoration: none;
    color: shade($primary, 10%);
  }
}

.form-control{
  border-radius: 0px;
  @include input-transition($form-control-transition-start, $form-control-transition-end, $form-control-transition-style);
  @include placeholder {
      color: rgba(shade($primary, 60%), .6);
      font-weight: 200;
      opacity: 1;
  }
}

body{
  background: tint($primary, 97%);
}
.section-heading{
  color: shade($accent, 5%);
  transition: all 300ms;
  font-size: 2vw;
  @media(max-width: 1000px){
    font-size: 4vw;
  }
  @media(max-width: 768px){
    font-size: 7vw;
  }
}
.section-container{
  &:hover{
    .section-heading{
      color: tint($primary, 5%);
    }
  }
}

.app-container{
  min-height: 1500px;
}

.loading{
  color: tint($primary, 70%);
  font-size: 18px;
  font-weight: 500;
}
