.fill-image {
  height: 250px;
  width: 100%;
  background-color: $background-default;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: $border-radius;
  @media(max-width: 768px){
    height: 180px;
  }
}

.main-carousel{
  box-shadow: $default-shadow;
  border-radius: $border-radius;
  .carousel-inner{
    border-radius: $border-radius;
  }
}

.carousel-control{
  background: none !important;
}

.carousel-caption{
  height: 100%;
  width: 100%;
  left: 0px;
  bottom: 55%;
  top: 0px;
  padding-left: 10%;
  padding-top: 20px;
  text-align: left;
  font-size: 4vw;
  background: linear-gradient(to bottom right, rgba(54,54,54,.57), rgba(255,255,255,0));
  border-radius: $border-radius;
}

$font-size: 4vw;
$line-height: 1;
$lines-to-show: 2;

.carousel-caption-text{
  width: 90%;
  left: 0px;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: 50px; /* Fallback for non-webkit */
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @media(min-width: 768px){
    font-size: 25px !important;
    bottom: 55%;
  }
  @media(max-width: 768px){
    height: 4vw;
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.carousel-inner{
  > .item{
    // -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
    //    -moz-animation: fadein .5s; /* Firefox < 16 */
    //     -ms-animation: fadein .5s; /* Internet Explorer */
    //         animation: fadein .5s;
    transition: none;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 1; }
}


.main-carousel-control{
  .glyphicon{
    width: 100%;
    height: 33px;
    background-color: shade($accent, 80%);
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: none;
    font-size: 22px;
    color: white;
    opacity: 1;
  }
}

.left-main-carousel-control{
  .glyphicon{
    left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.right-main-carousel-control{
  .glyphicon{
    right: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
