.navbar{
  background-color: tint($primary, 98%);
  border: 0px;
  border-radius: $border-radius;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: $default-shadow;
}

.navbar-flex{
  @media(min-width: 768px){
    display: flex;
  }
}

.navbar-flex-center{
  @media(min-width: 768px){
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.navbar-toggle{
  margin-top: 30px;
}

.navbar-head-menu{
  width: 100%;
  @media(min-width: 768px){
    align-self: flex-end;
  }
}

.head-list{
  margin-bottom: 0px;
}

.navbar-header{
  height: 90px;
}

.navbar-brand{
  img{
    height: 15vw;
    width: 42vw;
    max-height: 70px;
    max-width: 220px;
  }
}

.navbar-form-container{
  @media(max-width: 768px){
    width: 87vw;
  }
}

.navbar-icons-container{
  @media(max-width: 768px){
    width: 100%;
    text-align: center;
  }
}

.navbar-icons{
  font-size: 18px;
  @media(min-width: 768px){
    transform: translateY(2px);
  }
  @media(max-width: 768px){
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.nav .open > a:focus{
  background: none;
}

.navbar-menu{
  li{
    font-weight: 600;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    a{
        color: rgba($secondary, .7);
        transition: all 300ms;
      &:hover{
        color: $secondary;
      }
      &:hover,&:focus,&:active{
        background: none;
      }
    }
  }
}
.nav .open > a:hover, .nav .open > a:focus{
background:none !important;
}

.dropdown-menu{
  li{
    transition: all 300ms;
    @media(max-width: 768px){
      background-color: shade($primary, 5%);
      text-align: center;
    }
    a{
      color: $primary;
      @media(max-width: 768px){
        color: rgba($secondary, .7);
        transition: all 300ms;
        &:hover{
          color: $secondary;
        }
      }
    }
    &:hover{
      background-color: $primary;
      @media(max-width: 768px){
        background-color: shade($primary, 5%);
      }
    }
  }
}

.navbar-main-menu{
  margin-top: 4px;
  border-top: 0px solid shade($primary, 30%);
  background-color: $primary;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.navbar-footer{
  .navbar-main-menu{
    border: 0px;
  }
  margin-bottom: 0px;
  border-radius: $border-radius;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navbar-form{
  .form-group{
    .form-control{
      background-color: tint($primary, 80%);
      border-radius: $border-radius;
      border: 0px;
      transition: all 300ms;
      text-align: right;
      font-size: 18px;
      color: shade($primary, 60%);
      font-weight: 300;
      &:focus{
        background-color: tint($primary, 75%);
      }
      @media(max-width: 768px){
        text-align: center;
      }
    }
  }
}

.navbar-toggle{
  border: 1px solid shade($primary, 10%);
  transition: all 300ms;
  &:hover{
    border: 1px solid shade($primary, 15%);
    .icon-bar{
      background-color: shade($primary, 15%);
    }
  }
  .icon-bar{
    background-color: shade($primary, 10%);
    transition: all 300ms;
  }
}



.menu-signed{
  background-color: shade($primary, 20%);
}
