.pagination{
  .previous_page,
  .next_page{
    visibility: collapse;
    display: none;
  }
  .current{
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
    background-color: shade($primary, 5%);
    box-shadow: $default-shadow;
    border-radius: $border-radius;
    font-weight: bold;
    color: $secondary;
  }
  a{
    @extend .current;
    color: $primary;
    box-shadow: none;
    background: none;
  }
  a:hover{
    text-decoration: none;
    color: shade($accent, 80%);
    background: none;
    box-shadow: none;
  }
}
