.pagination{
  .previous_page,
  .next_page{
    visibility: collapse;
  }
  .current{
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
    color: tint($primary, 95%);
    background-color: $primary;
    box-shadow: $default-shadow;
    border-radius: 4px;
    font-weight: bold;
  }
  a,a:hover{
    @extend .current;
    text-decoration: none;
    color: $primary;
    background: none;
    box-shadow: none;
  }
}
