$primary:   #00bfd0;
$secondary: rgb(255,255,255);
$accent:    rgb(237,237,237);
$trinary:   rgb(5,212,75);
$fourtrary: rgb(245,153,45);

$form-control-transition-start: 0px 0px 0px $accent inset, 0px 0px 0px $primary;
$form-control-transition-end:   0px 0px 0px $accent inset, 0px 0px 0px $primary;
$form-control-transition-style: all 0ms ease-in-out;

$default-shadow: 0px 0px 4px rgba(shade($accent, 10%), .8);
$default-shadow-invert: 0px 0px 4px rgba(shade($accent, 50%), .6);

$border-radius: 2px;

$background-default: shade($accent, 20%);
